<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Fetch events in all your calendars</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Let me remind you</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
	</array>
</dict>
</plist>
